.div-title{
    text-align: center;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
.title-image{
    text-align: center;

}
body{
    background-color: #f5f5f5;
}
img{
    width: 1000px;
    height: 1000px;
}
